@tailwind base;
@tailwind components;
@tailwind utilities;

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

.action {
  
  background-color: rgb(15, 118, 110);
  background-image: radial-gradient(at 69% 77%, rgb(29, 78, 216) 0, transparent 93%), radial-gradient(at 15% 7%, rgb(17, 94, 89) 0, transparent 90%), radial-gradient(at 71% 19%, rgb(29, 78, 216) 0, transparent 23%), radial-gradient(at 51% 5%, rgb(248, 113, 113) 0, transparent 88%), radial-gradient(at 59% 52%, rgb(233, 213, 255) 0, transparent 93%), radial-gradient(at 68% 68%, rgb(0, 0, 0) 0, transparent 6%);

}